@import '../../bootstrap/variables.scss';
.signup {
}

.disclaimer {
  width: 31%;
  font-family: $roboto;
  font-size: 14px;
  color: $blue-text;
}

@media (max-width: 768px) {
  .disclaimer {
    width: 80%;
  }
}

.prog-bar {
  height: 3px;
  width: 21%;
  display: flex;
  .filled,
  .empty {
    height: 100%;
  }
  .filled {
    background-color: $primary;
  }
  .empty {
    background-color: $warning;
  }
}

@media (max-width: 768px) {
  .prog-bar {
    width: 80%;
  }
}
