@import '../../bootstrap/variables.scss';
.signup {
}

.disclaimer {
  width: 31%;
  font-family: $roboto;
  font-size: 14px;
  color: $blue-text;
}

@media (max-width: 768px) {
  .disclaimer {
    width: 80%;
  }
}

.progress {
  height: 7px;
  .filled {
    height: 100%;
    background-color: $primary;
  }
}
