/* reset */
$min-width: 320px;    
$max-width: 1160px;   
$base-bg: #fff;   
$base-font-size: 16px; 
$base-line-height:1.5; 
$base-font-family: 'Poppins', sans-serif; 
$link-color: #03C895;
$default-transition: all 0.3s linear;

/* main variables */
 
//text, titles
$text-color:  #595F6F;  
$title-color: #30374B;
$title-font-family: 'Muli', sans-serif; 

$font-size-h1: 34px;   
$line-height-h1: 1.4;     
$font-size-h2: 34px;
$line-height-h2: 1.44;
$font-size-h3: 28px; 
$line-height-h3: 1.3; 
$font-size-h4: 22px;
$line-height-h4: 1.25; 
