@import '../../bootstrap/variables.scss';

.top-bar {
  border-top: 2px solid $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  height: 2.7rem;
  background-color: $secondary;
  z-index: 700;
}

.menu-button {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $primary;
}

.menu-svg {
  display: block;
  margin: 0 auto;
  width: 65%;
  height: 65%;
  fill: $light;
}

.top-logo {
  width: 8rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 768px) {
  .top-bar {
    height: 3.6rem;
  }
  .menu-button {
    width: 2.7rem;
    height: 2.7rem;
  }
}
