.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.inner-form,
.button-holder {
  width: 70%;
}

@media (min-width: 750px) {
  .inner-form,
  .button-holder {
    width: 30%;
  }
}

.field {
  text-align: center;
  width: 100%;
}

.input-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.75rem 0;
}

.input-icon {
  z-index: 1000;
  width: 20px;
  position: absolute;
  fill: green;
}

.invalid-feedback {
  top: 0 !important;
  font-size: 10px !important;
  padding: 0 0.75rem;
  height: 20px;
  position: absolute;
  color: #db353e !important;
}

.was-validated .form-control:invalid {
  border-color: red !important;
}
