.charger-map {
  position: relative;
  width: 100%;
  height: 20rem;
}

.shift-buttons {
  width: 65%;
}

.charger-icon {
  width: 2.8rem;
}

.charger-body {
  padding: 0.5rem 0.3rem;
  width: 7rem;
}

.charger-list {
  min-height: 40vh;
}
