@import '../../bootstrap/variables.scss';

.card-list {
  width: 40%;
  font-size: 14px;
  td,
  th {
    width: 15%;
  }
}

.cards-icon {
  width: 0.6rem;
  fill: $primary;
}

.circle-icon {
  width: 1.4rem;
  fill: red;
}

.circle-icon:hover {
  cursor: pointer;
}

.times-circle {
  fill: red;
}

.check-circle {
  fill: $primary;
}

@media (min-width: 768px) {
  .w-60 {
    width: 60%;
  }
}
