@import '../../../bootstrap/variables';
.warning-row {
  text-align: center;
  height: 4rem;
  font-weight: bold;
}

.table-holder {
  width: 100%;
}

.payment-table {
  font-size: 0.8rem;
}

.retry-btn {
  width: 1.1rem;
  height: 1.1rem;
  fill: $primary;
  margin-right: 0.3rem;
}
