//main styles
.main-wrapper {
  padding: 0 0 0 0;
  min-width: $min-width;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}

.wrapper {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: 100%;
}

/* titles */
p {
  padding: 10px 0 10px 0;
}
h1,
.h1 {
  @include font($font-size-h1, $line-height-h1, inherit);
  padding: 10px 0 10px 0;
  font-weight: 300;
}
h2,
.h2 {
  @include font($font-size-h2, $line-height-h2, inherit);
  padding: 10px 0 10px 0;
  font-weight: 300;
}
h3,
.h3 {
  @include font($font-size-h3, $line-height-h3, inherit);
  padding: 10px 0 10px 0;
  font-weight: 400;
}
h4,
.h4 {
  @include font($font-size-h4, $line-height-h4, inherit);
  padding: 10px 0 10px 0;
  position: relative;
  font-weight: 400;
}

/* text position */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.nowrap {
  white-space: nowrap !important;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: $min-width;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
body.hid {
  overflow: hidden;
}
.m-hid,
.t-show {
  display: none;
}
.d-show {
  display: none;
}

/* */
form:after {
  content: '';
  display: block;
  clear: both;
}
.btn {
  font-family: $title-font-family;
  transition: all 0.3s linear;
  display: inline-block;
  border: 1px solid #03c895;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  box-shadow: none;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 18px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 30px;
  padding: 14px 15px;
  color: #fff;
  border-radius: 4px;
  background: #03c895;
  &:hover {
    color: #fff;
    background: #03c895;
    border-color: #03c895;
  }
}
.btn-bord {
  background: transparent;
  color: #03c895;
  &:hover {
    background: #03c895;
    border-color: #03c895;
    color: #fff;
  }
}

.form_row {
  margin-bottom: 21px;
  position: relative;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.form_btn {
  margin-top: 54px;
}
.form-control {
  position: relative;
  min-width: 30px;
  padding: 7px 0rem 8px 0rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-family: $base-font-family;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.form-control.error {
  border-bottom: 1px solid red;
}
input::-webkit-input-placeholder {
  font-weight: 300;
  color: #fff;
}
input:-moz-placeholder {
  font-weight: 300;
  color: #fff;
}
input::-moz-placeholder {
  font-weight: 300;
  color: #fff;
}
input:-ms-input-placeholder {
  font-weight: 300;
  color: #fff;
}

/*---------------------------------------*/
.m-hid {
  display: none;
}
.d-show {
  display: none;
}
.js-bg {
  background-size: cover;
  background-position: top;
}

/* */
.section-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  background: url(../img/bg1_mob.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  .wrapper {
    min-height: 60%;
  }
}
.main {
}
.main_cont {
}
.main_btn {
  margin: 36px auto 4px;
  max-width: 360px;
  .btn {
    width: 100%;
    padding: 14px 5px;
  }
}
.main_txt {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  max-width: 360px;
}

/* */
.section-business {
  padding: 60px 0 62px;
  position: relative;
  &:before {
    content: '';
    bottom: 188px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(158.75deg, #edf0f6 3.07%, #c9d6e8 99.11%);
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}
.business {
  h2 {
    margin: 0 auto;
    max-width: 280px;
  }
  &_cont {
  }
  &_txt {
    margin: 20px auto 37px;
    max-width: 290px;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: #595f6f;
  }
  &_car {
    &_img {
      margin: 0 -15px;
      background: url(../img/car-mob.png) no-repeat center;
      background-size: 100%;
      &:before {
        content: '';
        display: block;
        padding-bottom: 96%;
      }
    }
  }
}

/* */
.section-piqs {
  color: #fff;
  background: #30374b;
  text-align: center;
  padding: 70px 0 21px;
}
.piqs {
  &_item {
    margin-bottom: 50px;
    &_img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
    &_txt {
      font-size: 18px;
      margin: 22px auto 0;
    }
  }
}

/* */
.section-faq {
  padding: 46px 0 28px 0;
}
.faq {
  margin: 0 -2px;
  &_item {
    cursor: pointer;
    padding: 14px 20px;
    background: #f5f7fa;
    margin-bottom: 10px;
    border-radius: 8px;
    &_head {
      padding-bottom: 4px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_title {
      font-weight: 300;
      font-size: 22px;
      line-height: 34px;
      color: #30374b;
    }
    &_sign {
      margin-right: -6px;
      position: relative;
      width: 26px;
      height: 26px;
      margin-left: 20px;
      min-width: 26px;
      &:before,
      &:after {
        transition: all 0.3s linear;
        content: '';
        top: 0px;
        left: 12px;
        position: absolute;
        width: 2px;
        height: 26px;
        background: #30374b;
      }
      &:after {
        transform: rotate(90deg);
        transition: all 0s linear;
      }
    }
    &_drop {
      display: none;
      font-weight: 300;
      margin: 7px 0 9px 2px;
    }
    &.open &_sign:before {
      transform: rotate(90deg);
    }
  }
}

/*---------------------------------------*/
@media screen and (max-height: 767px) {
  .main_btn {
    margin-top: 22px;
  }
  .main_cont {
    padding-bottom: 0;
    padding-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .section-main {
    text-align: center;
  }
  .section-business {
    text-align: center;
  }
  .main_txt {
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .piqs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -2%;
    &_item {
      width: 50%;
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 400px) {
  .business h2 {
    max-width: 446px;
  }
  .business_txt {
    max-width: 360px;
  }
}
@media screen and (max-width: 374px) {
  .main_txt {
    font-size: 18px;
  }
  h1,
  .h1 {
    font-size: 30px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
}
/* */
