@import '../../../bootstrap/variables.scss';

.outer-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(130, 130, 130, 0.7);
  z-index: 900;
}

.inner-menu {
  z-index: 1000;
  height: 100%;
  width: 300px;
  background-color: $light;
}
