@import '../../../bootstrap/variables.scss';

.outer-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(130, 130, 130, 0.7);
  z-index: 1300;
}

.inner-menu {
  border-top: 2px solid $primary;
  z-index: 1300;
  height: 100%;
  width: 220px;
  background-color: $secondary;
}

.menu-logo-holder {
  margin: 1rem 0;
  display: block;
  width: 100%;
}

.menu-logo {
  height: 3rem;
  margin-right: 1.2rem;
}

.menu-chevron {
  vertical-align: -0.1rem;
  margin-right: 0.4rem;
  height: 100%;
  fill: $primary;
}

.rotated {
  transform: rotate(90deg);
}

.menu-title {
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 1.1rem;
  color: white;
  margin: 1rem 0.8rem;
}

.menu-title-text:hover {
  color: $primary;
  cursor: pointer;
}

.expanded-list {
}

.expanded-link {
}

.logout {
  color: $light;
  margin-top: 0.5rem;
  margin-right: 2rem;
}

.logout:hover {
  color: $primary;
  cursor: pointer;
}

.signout-icon {
  margin-right: 0.5rem;
  width: 1.5rem;
  fill: $light;
}

.signout-icon:hover {
  fill: $primary;
}
